<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WDI Compliments</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1 id="compliments" style="background: <%= randomColor %>"><%= randomCompliment %></h1>

  <h1>Yes, you want more compliments!</h1>
  <form action="/new-compliment" method="post">
    <input type="text" name="new_compliment" required>
    <button type="submit">Give me Compliments!</button>
  </form>
</body>
</html>