<form action="/kicks" method="post">
   <input type="text" name="name" placeholder="Name of the Shoe">
   <textarea name="image_url" rows="6" cols="40" placeholder="Enter Image URL"></textarea>
   <textarea name="video_link" rows="6" cols="40" placeholder="Enter Video Link"></textarea>
   <button type="submit">New Shoes</button>
</form>
<a href="javascript:history.back()">Back</a>
